venv/
env/

__pycache__/
*.py[cod]
*$py.class

*.log
*.out
*.err

*.sqlite3

config.ini
.env

*.swp
*.DS_Store
*.bak

.vscode/
.idea/


docker-compose.override.yml
docker-compose.yml

node_modules/
dist/
build/
